[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[scripts]
install-ci-deps = "pipenv install --dev --skip-lock black pydocstyle flake8 pylint mypy pytest"

[dev-packages]
jupyterlab = "*"
black = "*"
pytest = "*"
pylint = "*"
pytest-tornasync = "*"
mypy = "*"
pydocstyle = "*"
flake8 = "*"
isort = "*"
rope = "*"
pytest-cov = "*"
twine = "*"
setuptools = "*"
sphinx = "*"

[packages]
solana = "*"
construct = "*"

[requires]
python_version = "3.7"
